@import '../../config/styles';

.c-navigation-side {
  position: absolute;
  bottom: 0;
  top: $header-height;
  width: $side-menu-width;
  background-color: wheat;
  z-index: 100;
  transition: left 0.7s;

  &.isClosed {
    left: -$side-menu-width;
  }
  &.isOpened {
    left: 0;
  }
}
